li {
    cursor: pointer;
}
.end-footer {
    display: block;
    width: 100vw;
    background-color: var(--main-color);
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 45px;
}
.footer-content .image {
    margin-top: 25px;
}
.footer-content .image img {
    width: 212.283px;
}

.footer-content .app-bar {
    display: block;
    position: relative;
    margin-top: 50px;
    
}
.app-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    list-style: none;
    margin-top: 10px;
}
.app-bar li {
    position: relative;
    width: 300px;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.app-bar ul li a  {
text-decoration: none;
color: #FFF;
text-align: right;
font-family: Almarai;
font-size: 19.585px;
font-style: normal;
font-weight: 300;
line-height: 29.433px; /* 216.667% */
transition: 0.3s ease;
margin-bottom: 5px;

    
}

.app-bar li::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2.5px;
    top:100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 22.641px;
    background: #D6D6D6;
    transition: 0.3s ease;

}
.app-bar li:hover::after {
    width: 100%;
    
}
.footer-content .info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:25px;
    margin-right: 20px;
    margin-top: 20px;
}


.info .title h4 {
    color: #FFF;
text-align: right;
font-family: Almarai;
font-size: 20.585px;
font-style: normal;
font-weight: 300;
line-height: 29.433px; /* 216.667% */
}
.info .address {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}
.info .address::after {
    content: "";
    position:absolute;
    width: 150%;
    height: 1.50px;
    background-color: #FFF;
    top:calc(100% + 10px);
}
.info .address img {
    width: 20.717px;
    flex-shrink: 0;
    fill: #D9D9D9;
    
}
@media (max-width:767px) {
    .info .address img {
        padding-bottom: 25px;
    }
}
.info .address p {
    color: #FFF;
text-align: right;
font-family: Almarai;
font-size: 20.585px;
font-style: normal;
font-weight: 300;
line-height: 29.433px; /* 216.667% */
white-space: nowrap;
padding:0;
}
@media (max-width:767px) {
    .info .address p {
        white-space: wrap;
    }
   
}
.info .help h3 {
    color: #FFF;
    text-align: right;
    font-family: Almarai;
    font-size: 25.15px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.433px; /* 121.875% */
    margin-bottom: 3px;
}
.info .help p {
    color: #FFF;
    text-align: right;
    font-family: Almarai;
    font-size: 22.15px;
    font-style: normal;
    font-weight: 550;
    line-height: 29.433px; /* 121.875% */

}
.social-links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    flex: 1;
    margin: auto;
    
}
.social-links ul li {
    padding-bottom: 50px;
    padding-right: 15px;
    cursor: default;
   
}
.social-links ul li img {
    fill: #FFF;
    width: 35.807px;
    
    flex-shrink: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}
.social-links li img:hover {
    scale: 1.15;
}
.social-links .languages {
    display: flex;
    position:relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:15px;
    margin-bottom: 40px;
    margin-left: 6%;
}
@media (max-width:767px) {
    .social-links .languages {
        flex-direction: column;
        gap:5px;
    }
}
.languages img {
    width: 35.773px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.languages img:hover {
    scale: 1.05;
}